<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>//user/login</key>
	<dict>
		<key>flutterPath</key>
		<string></string>
		<key>rnPath</key>
		<string></string>
		<key>webPath</key>
		<string>https://www.baidu.com/</string>
		<key>cur</key>
		<string>native</string>
		<key>path</key>
		<string>//user/login</string>
	</dict>
</dict>
</plist>
